/* Font is imported from Google */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Containers */
body {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: peru;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

main {
    max-width: 900px;
    margin: 0 auto
}

.hero {
    margin-top: 2em;
}

.content-box {
    display: grid;
    align-items: top;
    grid-auto-columns: auto;
    justify-content: center;
    min-height: 410px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

footer {
    background-color: black;
    color: white;
    padding: 3em;
}

/* Headlines */

h1 {
    font-size: 5em;
    margin-bottom: 10px;

}

h2 {
    font-size: 2em
}

/* Media */
img {
    width: 100%;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.6);
    object-position: center center;
    object-fit: cover;
    height: 350px;
}

.avatar {
    border-radius: 50%;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 25px;
    height: 100%;
}

figure {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 300px;
}

iframe {
    width: 100%;
    min-height: auto;
}

/* Table */
table {
    min-width: 300px;
    width: auto;
    margin: 8px auto 0;
}

td {
    border: 1px solid white;
    padding: 0.3em;
}

/* UI */
.btn {
    text-decoration: none;
    background-color: white;
    padding: 1em;
    width: 200px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;
    width: 300px;
    justify-content: center;

}

input[type=text] {
    margin-bottom: 10px;
    height: 2.5em;
}

input[type=submit] {
    margin: 10px 0;
    width: 100%;
    color: white;
    background-color: green;
    font-size: 1em;
}



/* Here we define how the webpage will look when the device width is over 400 pixels */
@media screen and (min-width: 400px) {
    img {
        width: 100%;
    }

    .avatar {
        width: 200px;
        height: auto;
    }

    .content-box {
        display: flex;
        align-items: top;
        min-height: unset;
    }

    .profile {
        margin-right: 10px;
        margin-top: 35px;
    }

    iframe {
        margin: 10px;

    }

    h2 {
        margin-bottom: 0
    }
}